.card-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.card-modal-wrapper-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-modal {
  width: 70vw;
  height: 50vh;
  border: 1px solid black;
  background-color: rgb(179, 156, 177, 1);
  display: flex;
  flex-direction: row;
}
.info {
  width: 80%;
  border: 1px solid black;
}
.img {
  width: 20%;
  border: 1px solid black;
}
.img img{
  width: 100%;
}