.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border: 1px solid salmon;
}

.App-link {
  color: #61dafb;
}

.header-pages{
  width: 30%;
  display: flex;
  justify-content: space-around;
}
